body{
  background: url(./images/forest.jpg) center center;
  background-size: cover;
}

.stage{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.player{
  display: flex;
}

h1{
  color: #fff;
  margin: 20px;
  padding: 35px;
  text-align: center;
}

.tree {
    height: 50vh;
    text-align: center;
}
