/**{
    outline: solid 1px red;
}*/

body{
  background: url(./images/forest.jpg) center center;
  background-size: cover;
}
.left-well{
    padding-left: 0;
}

.weapon-icon{
    height: 100px;
}

.feller-pic{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 50vh;
}

.hidden{
    display: none;
}

.tree {
    height: 100vh;
}
.tree-well, .container{
    display: inline-block;
}

.progress-bar-vertical {
    width: 100px;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    float: left;
    margin: 0;
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
}
.progress{
    background: none;
}

.timber-well{
    text-align: center;
}
.timber{
    color: red;
    font-size: 70px;
    margin: 80px auto 0 auto;
}

.container{
    position:absolute;
    bottom: 0;
    width: 150px;
    padding: 0;
}

.feller, .attack-button-well{
    display: inline-block;
}
.attack-button{
    font-size: 48px;
    color: red;
}
.reset-button{
    height: 114px;
}
.weapon-in-use{
    color: white;
    font-size: 37px;
    text-align: center;
}